<footer>
    <h6>&copy; <%= new Date().getFullYear(); %> All Rights Reserved Blogger Space.</h6>
</footer>

<!-- Jquery & bootstrap files -->
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/main.js"></script>